mixin dropdown({ modifier, title="Choose An Option", values=["Option 1", "Option 2"] } = {})
  - modifier = modifier ? "dropdown__select--" + modifier : false;

  select(class=["dropdown__select", "js-dropdown__select", modifier])
    option(selected, disabled, style="display: none")= title
    - for (var i = 0; i < values.length; i += 1)
      option= values[i]