@import '../../styles/mixins/fieldset';
@import '../../styles/mixins/placeholder';

.dropdown {
  & + .ui-selectmenu-button.ui-button {
    @include placeholder;
    @include fieldset('& > .ui-selectmenu-text', '& > .ui-selectmenu-icon', 'arrow-down-icon.svg');
    box-sizing: border-box;
    width: 100%;
    padding: 0;
  }

  &_color_warning {
    & + .ui-selectmenu-button.ui-button > .ui-selectmenu-icon {
      background-color: $color-warning;
    }
  }
}

.ui-selectmenu-menu.ui-selectmenu-open {
  @include placeholder;
  background-color: $color-primary;
  color: #fff;
  border-radius: .2rem;

  .ui-menu {
    padding: .3rem 0;

    .ui-menu-item-wrapper {
      padding: .36rem .9rem;
    }
  }
}

.ui-state-disabled {
  display: none;
}