@import '../_fieldset/_fieldset.scss';
@import '../_placeholder/_placeholder.scss';

.dropdown {
  width: 18.1rem;

  @media screen and (max-width: 580px) {
    width: 100%;
  }

  @include fieldset('select + .ui-selectmenu-button > .ui-selectmenu-text', 'select + .ui-selectmenu-button > .ui-selectmenu-icon', 'arrow-down-icon.svg');
}

.dropdown__select + .ui-selectmenu-button.ui-button {
  @include placeholder;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
}

.ui-button {
  margin-right: 0;
}

.ui-selectmenu-menu.ui-selectmenu-open {
  @include placeholder;
  background-color: #fff;
  color: #000;
}

.ui-state-disabled {
  display: none;
}

.dropdown__select_color_warning + .ui-selectmenu-button > .ui-selectmenu-icon {
  background-color: $color-warning;
}