mixin percentage(options={})
  - options.size = options.size || "6rem";
  - options.strokeColor = options.strokeColor || "#e75735";

  .percentage(data-percent=options.percent, style="width: " + options.size + "; height: " + options.size + "; font-size: " + options.size)
    svg.percentage__svg(viewBox="0 0 32 32")
      circle.percentage__item.js-percentage__item(r="16", cx="16", cy="16", style="stroke: " + options.strokeColor + "; stroke-dasharray: " + options.percent + " 100")
      circle.percentage__center(r="10", cx="16", cy="16")