mixin percentage({ percent, strokeColor="#e75735" })
  .percentage(data-percent=percent)
    svg.percentage__figure(viewBox="0 0 32 32")
      circle.percentage__border.js-percentage__border(r="16", cx="16", cy="16", style=`stroke: ${strokeColor}; stroke-dasharray: ${percent} 100`)
      circle.percentage__center(r="10", cx="16", cy="16")
