@import '../../styles/mixins/size';

.percentage {
  @include size(6rem);
  font-size: 6rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: attr(data-percent);
    z-index: 1;
    position: absolute;
    font-size: .4em;
    font-weight: 300;
    color: #9d9d9d;
  }

  &__svg {
    @include size(100%);
    border-radius: 50%;
    transform: rotate(-90deg);
  }

  &__item {
    fill: rgba(0, 0, 0, 0);
    stroke-width: 3;

    &_state_animated {
      animation: donut-chart-fill 1s reverse ease-in;
    }
  }

  &__center {
    fill: transparent;
  }
}

@keyframes donut-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}
