include ../pages-header/pages-header

section.page--hotel__item
  +subtitle("News & Events")
  .section-wrapper.section-wrapper--news
    +news(
      1,
      "It's all going downhill",
      "24 august 2013",
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros."
    )
    +news(
      2,
      "This is the title",
      [24, "Aug"],
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
      "calendar"
    )

section.page--hotel__item
  +subtitle("Video")
  +videoFrame("rPmGtZAUxNs")

include ../pages-footer/pages-footer

include ../callback/callback