mixin stages({ modifier, count=5 } = {})
  - modifier = modifier ? "stages--" + modifier : false;

  ul(class=["stages", "js-stages", modifier])
    - for (var i = 0; i < count; i += 1)
      li.stages__item.js-stages__item