@import '../_colors/_colors.scss';
@import '../_size/_size.scss';
@import '../_pseudo-elem/_pseudo-elem.scss';

.stages {
  display: flex;
  counter-reset: step;
  margin: 0;
  padding: 0;

  &--primary {
    .stages__item {
      &--done:before,
      &--done:after,
      &--current:before {
        background-color: $color-primary;
      }
    }
  }

  &__item {
    list-style-type: none;
    color: $color-disabled;
    position: relative;
    text-align: center;
    font-size: .88rem;
    font-weight: 900;
    line-height: 2;

    &:before {
      @include size(1.8rem);
      content: counter(step);
      counter-increment: step;
      color: #888;
      border-radius: 50%;
      display: block;
      background-color: $color-disabled;
      cursor: pointer;
    }

    &:after {
      @include pseudo-elem('', 100%, .3rem);
      background-color: $color-disabled;
      top: 40%;
      left: .1rem;
      z-index: -1;
    }

    &:last-child:after {
      content: none;
    }

    &--done:before,
    &--done:after,
    &--current:before {
      background-color: $color-warning;
      color: #fff;
    }
  }
}