section.page__item.arrows
  h2.subtitle Arrow buttons
  .page__wrapper-arrows
    +arrow("left")
    +arrow("right")
    +arrow("left", "disabled")
    +arrow("right", "disabled")
    +arrow("left")
    +arrow("right")