@mixin btn-theme($theme, $bd-bottom-color) {
  $bg-color: "";
  @if $theme == primary {
    $bg-color: $color-primary;
  }
  @else if $theme == warning {
    $bg-color: $color-warning;
  }

  border-color: $bg-color;
  color: $bg-color;

  &:hover,
  &.button--pressed {
    background-color: $bg-color;
    color: #fff;
  }

  &:hover {
    border-bottom-color: $bd-bottom-color;
  }
}