@mixin btn-theme($theme, $bd-bottom-color) {
  $bg-color: "";
  @if $theme == primary {
    $bg-color: $color-primary;
  }
  @else if $theme == warning {
    $bg-color: $color-warning;
  }

  border-color: $bg-color;
  color: $bg-color;

  &:hover,
  &.button--pressed {
    line-height: 1.5rem;
    color: #fff;
    border-bottom: .2rem solid #{$bd-bottom-color};
    background-color: $bg-color;
  }

  &.button--pressed {
    border: .06rem solid;
  }
}