mixin button(options)
  - options.classes = options.classes || false
  - options.modifiers = options.modifiers || false
  - options.text = options.text || "Button"
  - options.tag = options.tag || "a"
  - options.link = options.link || "#"
  - options.btnType = options.btnType || "button"

  - var classNames = []
  each modifiers in [options.classes, options.modifiers]
    if modifiers
      if Array.isArray(modifiers)
        each modifier in modifiers
          if modifiers == options.modifiers
            - classNames.push("button--" + modifier)
          else
            - classNames.push(modifier)
      else
        if modifiers == options.modifiers
          - classNames.push("button--" + modifiers)
        else
          - classNames.push(modifiers)

  if options.tag == "button"
    button(class=["button", classNames], type=options.btnType)= options.text
  else
    a(class=["button", classNames], href=options.link)= options.text