mixin button(options={})
  - options.modifier = options.modifier || "primary";
  - options.wrapperModifier = options.wrapperModifier ? "page__button--" + options.wrapperModifier : false;
  - options.text = options.text || "Button";
  - options.tag = options.tag || "a";
  - options.link = options.link || "#";
  - options.btnType = options.btnType || "button";
  - var modifiers = [];

  if Array.isArray(options.modifier)
    each modifier in options.modifier
      - modifiers.push("button--" + modifier);
  else
    - modifiers.push("button--" + options.modifier);

  div(class=["page__button", options.wrapperModifier])
    if options.tag == "button"
      button(class=["button", "js-button", modifiers], type=options.btnType)= options.text
    else
      a(class=["button", "js-button", modifiers], href=options.link)= options.text