@import './_btn-theme.scss';
@import '../_size/_size.scss';

.button {
  padding: .4rem 1.85rem;
  position: relative;
  font-size: .75rem;
  font-weight: 900;
  cursor: pointer;
  border: .06rem solid;
  border-bottom: .3rem solid;
  border-radius: .2rem;
  background-color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  &:hover,
  &.button--pressed {
    padding: .45rem 1.85rem;
  }

  &:hover {
    border-bottom-width: .2rem;
  }

  &.button--pressed {
    border-bottom-width: .06rem;
    outline: none;
  }

  &--primary {
    @include btn-theme(primary, #28a290);
  }

  &--warning {
    @include btn-theme(warning, #bf3e1f);
  }

  &--small {
    padding: .2rem .9rem;
    font-size: .62rem;

    &:hover,
    &.button--pressed {
      padding: .25rem .9rem;
    }
  }

  &--news {
    @include size(auto);
    padding: 0 .6rem;
    display: inline-block;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: .7rem;
    line-height: 2;
    letter-spacing: .02rem;
    text-decoration: none;

    &:hover,
    &.button--pressed {
      padding: 0 .6rem;
    }
  }

  &--messaging {
    @include size(100%, 2.3rem);
  }

  &__ripple {
    @include size(.5rem);
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    animation: ripple-animation 1s;
  }
}

@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: .7;
  }
  to {
    transform: scale(10);
    opacity: 0;
  }
}