@import "./components/button/_btn-theme.scss";

.button {
  @include size(7.37rem, 2.2rem);
  position: relative;
  font-size: .75rem;
  font-weight: 900;
  line-height: 1.5;
  margin-top: .6rem;
  margin-bottom: .6rem;
  cursor: pointer;
  text-transform: uppercase;
  border: .06rem solid;
  border-bottom: .3rem solid;
  border-radius: .2rem;
  outline: none;
  background-color: #fff;

  &--primary {
    @include btn-theme(primary, #28a290);
  }

  &--warning {
    @include btn-theme(warning, #bf3e1f);
  }

  &--small {
    @include size(4.87rem, 1.37rem);
    font-size: .62rem;
    line-height: 1.8;
    border-bottom: .2rem solid;

    &:hover,
    &.button--pressed {
      line-height: 1.24rem;
    }
  }

  &__ripple {
    @include size(.5rem);
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    animation: ripple-animation 1s;
  }
}

@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.7;
  }
  to {
    transform: scale(10);
    opacity: 0;
  }
}