@mixin font-face($font-family, $font, $type) {
  $weight: 400;
  $style: normal;

  @if $type == light {
    $weight: 300;
  }
  @else if $type == bold {
    $weight: 700;
  }
  @else if $type == black {
    $weight: 900;
  }
  @else if $type == italic {
    $style: italic;
  }

  @font-face {
    font-family: $font-family;
    src: url("../fonts/#{$font}-#{$type}-webfont.woff2") format("woff2"),
         url("../fonts/#{$font}-#{$type}-webfont.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin btn-theme($theme, $bd-bottom-color) {
  $color: "";
  @if $theme == primary {
    $color: $color-primary;
  }
  @else if $theme == warning {
    $color: $color-warning;
  }

  border-color: $color;
  color: $color;

  &:hover,
  &.button--pressed {
    line-height: 2.8rem;
    color: #fff;
    border-bottom: .3rem solid #{$bd-bottom-color};
    background-color: $color;
  }

  &.button--pressed {
    border-bottom-color: $color;
  }
}

@mixin arrow-state($state) {
  $color: "";
  @if $state == disabled {
    $color: $color-disabled;
  }
  @else if $state == hover {
    $color: $color-primary;
  }

  .arrow__circle {
    stroke: $color;
    fill: $color;
  }

  .arrow__polyline {
    stroke: #fff;
  }
}

@mixin arrow-initial($stroke-width, $fill) {
  stroke: $color-primary;
  stroke-width: $stroke-width;
  fill: $fill;
}

@mixin animate-checkbox {
  to {
    stroke-dashoffset: 0;
  }
}