include ./_menu-list

.header__main-menu
  nav.main-menu.js-main-menu
    img.logo(src=require("../assets/logo/logo.png"), alt="logo")
    .main-menu__btn.js-main-menu__btn
      span
      span
      span
      span
    ul.main-menu__list
      +menuList([
        {
          name: "Главная",
          link: "./index.html"
        },
        {
          name: "Снять номер",
          link: "./reservation.html"
        },
        {
          name: "Новости",
          link: "./news.html"
        },
        {
          name: "Контакты",
          link: "./contacts.html"
        },
        {
          name: "UI-Kit",
          link: "./main.html"
        }
      ])