mixin pie-chart(options={})
  - options.size = options.size || "6rem"
  - options.withLegend = options.withLegend || false
  - options.legendUnit = options.legendUnit || "%"

  .pie-chart(style="width: " + options.size + "; height: " + options.size)
    svg.pie-chart__svg(viewBox="0 0 32 32")
      - var percent = 100
      - var sumPercent = 0
      each item in options.items
        - sumPercent += item.percent
      - for (var i = options.items.length - 1; i >= 0; i--)
        circle.pie-chart__item.js-pie-chart__item(r="16", cx="16", cy="16", style="stroke: " + options.items[i].fill + "; stroke-dasharray: " + percent + " 100; z-index: " + (options.items.length - i))
        - percent = percent - (options.items[i].percent * 100 / sumPercent)
      circle.pie-chart__center(r="10", cx="16", cy="16")

  if options.withLegend
    ul.pie-chart__legend
      each item in options.items
        li.pie-chart__legend-item(style="border-left-color: " + item.fill)
          span.pie-chart__legend-name= item.name
          span.pie-chart__legend-percent= item.percent + options.legendUnit