.pie-chart {
  position: relative;

  &__svg {
    @size(100%);
    border-radius: 50%;
    transform: rotate(-90deg);
  }

  &__item {
    fill: rgba(0,0,0,0);
    stroke-width: 12;

    &--animated {
      animation: donut-chart-fill 1s reverse ease-in;
    }
  }

  &__center {
    fill: transparent;
  }

  &__legend {
    margin: 0;
    list-style-type: none;
  }

  &__legend-item {
    margin-bottom: .7rem;
    padding-left: .5rem;
    border-left: 1rem solid;
  }

  &__legend-name {
    margin-right: .2rem;
  }
}