.page--hotel {
  max-width: 100%;
  margin: 0;
  padding: 6rem 0 0;

  &__item {
    margin: 6rem 7rem;
  }

  &__subtitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
  }
}