mixin menu(menuItems)
  nav.menu.js-menu
    img.menu__logo(src=require("../assets/logo/logo.png"), alt="logo")
    .menu__btn.js-menu__btn
      span.menu__btn-span
      span.menu__btn-span
      span.menu__btn-span
      span.menu__btn-span
    ul.menu__list
      each item in menuItems
        - var { name, link } = item;
        li.menu__item
          a.menu__item-link.js-menu__item-link(href=link)= name
