@import '../../styles/variables/colors';
@import '../../styles/mixins/size';

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: $color-primary;
  box-shadow: 0 .5rem 3rem 1rem rgba(0, 0, 0, .2);
  border-bottom: 2px solid rgba(231, 87, 53, .3);

  &_state_open {
    .menu__btn {
      &-span {
        &:first-child,
        &:last-child {
          opacity: 0;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }

    .menu__list {
      display: flex;
    }
  }

  &__btn {
    @include size(2.4rem, 1.4rem);
    position: relative;
    display: none;
    cursor: pointer;

    @media screen and (max-width: 600px) {
      display: inline-block;
    }

    &-span {
      @include size(100%, .2rem);
      position: absolute;
      display: inline-block;
      border-radius: .3rem;
      background-color: #fff;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:first-child {
        top: 0;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: calc(50% - .1rem);
      }

      &:last-child {
        bottom: 0;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and (max-width: 600px) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      display: none;
      flex-direction: column;
      margin-top: 3rem;
      background-color: $color-primary;
      overflow: auto;
    }
  }
}