include ../components/header/header
include ../components/callback/callback
include ../components/footer/footer

block include

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")

    block description
      meta(name="description", content="Welcome to our hotel where you can rent a room from $100 / night")
      meta(name="keywords", content="hotel, rooms for rent, selection apartments")

    block title
      title Добро пожаловать в наш отель!

    link(rel="apple-touch-icon", sizes="180x180", href="./favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="./favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="./favicons/favicon-16x16.png")
    link(rel="manifest", href="./favicons/site.webmanifest")
    link(rel="mask-icon", href="./favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")

  block body
    body
      .page.page_type_hotel
        .page__wrapper
          .page__content
            +header([
              {
                name: "Главная",
                link: "./index.html"
              },
              {
                name: "Снять номер",
                link: "./reservation.html"
              },
              {
                name: "Новости",
                link: "./news.html"
              },
              {
                name: "Контакты",
                link: "./contacts.html"
              },
              {
                name: "UI-Kit",
                link: "./main.html"
              }
            ])

            block page-content

            .page__callback
              +callback({
                messagingOptions: {
                  name: "Sarah Brown",
                  photo: "sarah-brown"
                }
              })
              .overlay.js-overlay
          .page__footer
            +footer()

      script(src="./app.js")
      block scripts