mixin form(id)
  form(id="form"+id, class="form")
    .form__field
      input(type="text", id="login"+id, name="name", placeholder="Your Name")
      .form__val
    .form__field
      input(type="text", id="email"+id, name="email", placeholder="Your Email")
      .form__val
    .form__field
      textarea(id="message"+id, name="message", rows="4", placeholder="Your Message")
    +button({
      classes: "form__button",
      modifiers: "primary",
      text: "Submit",
      tag: "button",
      btnType: "submit"
    })