mixin form(id)
  form(id="form"+id, class="form")
    .form__field
      input(type="text", id="login"+id, name="name", placeholder="Your Name")
      .form__val
    .form__field
      input(type="text", id="email"+id, name="email", placeholder="Your Email")
      .form__val
    .form__field
      textarea(id="message"+id, name="message", cols="34", rows="4", placeholder="Your Message")
    button(type="submit", id="send"+id, class=["button", "button--primary"], name="button") Submit