@import '../_input/_input.scss';
@import '../_size/_size.scss';
@import '../_triangle-tooltip/_triangle-tooltip.scss';

.form {
  display: flex;
  flex-direction: column;
  width: 18rem;

  @media screen and (max-width: 580px) {
    width: 100%;
  }

  &__fieldset {
    margin: .45rem 0;
    display: flex;
    align-items: center;

    input {
      @include input;
      flex-grow: 1;
    }

    textarea {
      @include input;
      width: 100%;
      box-sizing: border-box;
      padding: .8rem .9rem;
    }
  }

  &__val {
    @include size(3.4rem, 1.75rem);
    position: relative;
    margin-left: .5rem;
    padding: 0 .5rem;
    font-size: .63rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.75rem;
    color:  #fff;
    border-radius: .2rem;

    &:before {
      @include triangle-tooltip(#fff, .3rem);
    }

    &--correct {
      background-color: $color-primary;

      &:before {
        background-color: $color-primary;
      }
    }

    &--error {
      background-color: $color-warning;

      &:before {
        background-color: $color-warning;
      }
    }
  }
}