.form {
  margin-top: 1.6rem;

  &__field {
    margin-top: .75rem;
    display: flex;

    input {
      @include input;
      flex-grow: 1;
    }

    textarea {
      @include input;
      width: 100%;
      box-sizing: border-box;
      padding: .8rem .9rem;
    }
  }

  &__val {
    width: 3.4rem;
    height: 1.75rem;
    padding: 0 .5rem;
    font-size: .63rem;
    font-weight: 900;
    margin-left: .5rem;
    text-align: center;
    text-transform: uppercase;
    color:  #fff;
    border-radius: .2rem;
    line-height: 1.75rem;
    position: relative;

    &:before {
      @include triangle-tooltip(#fff, .3rem);
    }

    &--correct {
      background-color: $color-primary;

      &:before {
        background-color: $color-primary;
      }
    }

    &--error {
      background-color: $color-warning;

      &:before {
        background-color: $color-warning;
      }
    }
  }
}

.form__button {
  float: right;
  margin-top: .7rem;
  margin-bottom: .7rem;
}

::-webkit-input-placeholder {
  @include placeholder;
}
::-moz-placeholder {
  @include placeholder;
}
:-moz-placeholder {
  @include placeholder;
}
:-ms-input-placeholder {
  @include placeholder;
}