form.form
  p
    input(type="text", name="name", placeholder="Your Name")
  p
    input(type="text", name="email", placeholder="Your Email")
  p
    textarea(name="message", cols="30", rows="5", placeholder="Your Message")
  button(class=["button", "button--primary"], type="submit") Submit