@import '../../styles/mixins/input';
@import '../../styles/mixins/size';
@import '../../styles/mixins/triangle-tooltip';

.form {
  display: flex;
  flex-direction: column;

  &__fieldset {
    margin: .4rem 0;
    display: flex;
    align-items: center;

    input {
      @include input;
      flex-grow: 1;
    }

    textarea {
      @include input;
      width: 100%;
      min-height: 5.5rem;
      padding: .7rem .9rem;
      box-sizing: border-box;
    }
  }

  &__val {
    @include size(3.4rem, 1.75rem);
    position: relative;
    margin-left: .5rem;
    padding: 0 .5rem;
    font-size: .63rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.75rem;
    color:  #fff;
    border-radius: .2rem;

    &:before {
      @include triangle-tooltip(#fff, .3rem);
    }

    &_type_correct {
      background-color: $color-primary;

      &:before {
        background-color: $color-primary;
      }
    }

    &_type_error {
      background-color: $color-warning;

      &:before {
        background-color: $color-warning;
      }
    }
  }

  &__button-wrapper {
    margin-top: .2rem;
    margin-bottom: .6rem;
    align-self: flex-end;
  }
}