@import '../_size/_size.scss';

@mixin social-icon($social...) {
  @each $val in $social {
    &__social-icon--#{$val} {
      > a {
        @include size(1.6rem, 1.3rem);
        display: block;
        background: url(../../assets/icons/#{$val}-icon.svg) no-repeat center;

        &:hover {
          background: url(../../assets/icons/#{$val}-hover-icon.svg) no-repeat center;
        }
      }
    }

    &__info--primary {
      .user-profile__social-icon--#{$val} {
        > a {
          background: url(../../assets/icons/#{$val}-white-icon.svg) no-repeat center;

          &:hover {
            background: url(../../assets/icons/#{$val}-hover-icon.svg) no-repeat center;
          }
        }
      }
    }
  }
}