mixin socialIcon(options={})
  each option in options
    li(class=["user-profile__social-icon", "user-profile__social-icon--" + option.name])
      a(href=option.link, target="_blank", rel="noopener noreferrer")