include _social-icon

mixin userProfile(options={})
  - options.photo = options.photo || options.name
  - options.social = options.social || self.htmlWebpackPlugin.options.social
  - options.modifier = options.modifier || false
  - var modifier = options.modifier ? "user-profile__info--" + options.modifier : false

  .user-profile
    img.user-profile__photo(src=require("../components/user-profile/" + options.photo + ".jpg"), alt=options.name)
    div(class=["user-profile__info", modifier])
      span.user-profile__name= options.name
      span.user-profile__profession= options.profession
      ul.user-profile__social
        +socialIcon(options.social)