@import '../../styles/variables/colors';
@import '../../styles/mixins/triangle-tooltip';

.user-profile {
  display: flex;
  align-items: center;

  @media screen and (max-width: 580px) {
    text-align: center;
  }

  &__photo {
    width: 5.3rem;
    display: inline-block;
    margin: .5rem;
    vertical-align: middle;
    border-radius: 50%;
    border: .25rem solid $color-disabled;
  }

  &__info {
    display: inline-block;
    position: relative;
    width: 9.2rem;
    margin-left: .25rem;
    padding: .5rem;
    text-align: center;
    vertical-align: middle;
    border-radius: .4rem;

    @media screen and (max-width: 714px) {
      width: auto;
      flex-grow: 1;
    }

    &:before {
      @include triangle-tooltip();
    }

    &_type_additional,
    &_type_additional::before {
      background-color: $color-disabled;
    }

    &_type_primary,
    &_type_primary:before {
      background-color: $color-primary;
    }

    &_type_primary {
      .user-profile__name,
      .user-profile__profession {
          color: #fff;
      }
    }
  }

  &__name {
    display: block;
    font-size: 1.1rem;
    color: $color-warning;
  }

  &__profession {
    display: block;
    font-size: .71rem;
    font-weight: 900;
    line-height: 2;
    letter-spacing: .02rem;
    color: #4f4f4f;
    text-transform: uppercase; 
  }

  &__social {
    margin: 0;
    padding: 0;
  }
}