.location {
  @include size(100%, 17.1rem);
  background: url(./components/location/map.jpg) no-repeat center;
  background-size: cover;

  &__text {
    float: left;
    margin: .4rem .8rem;
    color: #fff;

    &--greeting {
      font-size: 1.88rem;
      font-weight: 300;
      line-height: 1;
    }

    &--address {
      font-size: .78rem;
      font-weight: 900;
      line-height: 1.3;
      text-transform: uppercase;
      letter-spacing: .04rem;
    }
  }

  &__marks {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__mark {
    @include size(1.5rem);
    margin: .6rem;
    display: inline-block;

    > a {
      display: block;
      width: 100%;
      height: 100%;
    }

    &--location > a {
      background: url(./assets/icons/location-icon.svg) no-repeat center;
    }

    &--pin > a {
      background: url(./assets/icons/pin-icon.svg) no-repeat center;
    }
  }
}

.ymaps-2-1-74-balloon-panel .ymaps-2-1-74-balloon {
  &__content {
    font-family: 'Lato', sans-serif;
    background-color: $color-warning;

    @media screen and (max-width: 490px) {
      > ymaps {
        height: auto;
      }
    }
  }

  @media screen and (max-width: 490px) {
    display: none;
  }
}