include ./_rooms-list

mixin rooms(options, btnColor="warning")
  section.rooms
    h2 Выбор комнаты
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam tempore asperiores consectetur officia facilis corrupti aut minima accusamus et porro numquam, nisi, reprehenderit natus, corporis voluptate mollitia quis deleniti tempora quo repellat non, ullam placeat! Id ea, quaerat harum sapiente provident autem quidem minima similique! Aperiam aut ratione in dolores.
    +roomsList(options, btnColor)