.about {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 580px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    >.percentage {
      flex-shrink: 0;
    }
  }

  &__level {
    margin-left: 1rem;
  }

  &__text {
    flex-basis: 50%;
    
    @media screen and (max-width: 580px) {
      flex-basis: auto;
    }
  }

  &__images {
    flex-basis: 50%;
    padding: 0 2rem;

    @media screen and (max-width: 580px) {
      flex-basis: auto;
    }
  }

  &__image {
    position: relative;
    display: block;
    width: 50%;
    box-shadow: 0 .5rem 2rem 0 rgba(0,0,0,.15);

    &:nth-child(1) {
      margin-left: auto;
    }
    &:nth-child(2) {
      margin-top: -50%;
    }
    &:nth-child(3) {
      margin: 0 auto;
      margin-top: -30%;
    }
  }
}