mixin messaging(options)
  section.messaging
    .messaging__header
      .messaging__head= options.name
      img(class=["messaging__avatar", "user-profile__photo"], src=require("../../components/user-profile/" + options.name + ".jpg"), alt=options.name)

    .messaging__main
      button.messaging__chat
      button.messaging__camera
      .messaging__intro
        p.messaging__text Hey! So are we cool to meet at the art gallery? Say 8pm
      form.messaging__form(id="form" + options.id)
        div
          textarea.messaging__textarea(id="message" + options.id, rows=3) Yeah that sounds great. See you then
          +button({
            classes: "messaging__button",
            modifiers: "primary",
            text: "Reply",
            tag: "button"
          })