mixin messaging({ name, photo })
  section.messaging.js-messaging
    .messaging__header
      .messaging__head= name
      img.messaging__avatar(src=require(`../components/user-profile/${photo}.jpg`), alt=name)

    .messaging__main
      button.messaging__chat
      button.messaging__camera
      .messaging__intro
        p.messaging__text Hey! So are we cool to meet at the art gallery? Say 8pm
      form.messaging__form(action="./handler.php")
        div.messaging__block
          textarea.messaging__textarea(rows="3") Yeah that sounds great. See you then
          +button({
            wrapperModifier: "messaging",
            modifier: ["primary", "messaging"],
            text: "Reply",
            tag: "button"
          })