mixin messaging(name)
  section.messaging
    .messaging__header
      .messaging__head= name
      img(class=["messaging__avatar", "user-profile__photo"], src=require("../../components/user-profile/"+name+".jpg"), alt=name)

    .messaging__main
      button.messaging__chat
      button.messaging__camera
      .messaging__intro
        p.messaging__text Hey! So are we cool to meet at the art gallery? Say 8pm
      form.messaging__form#form2
        div
          textarea(class="messaging__textarea", id="message2", rows="3") Yeah that sounds great. See you then
          button(class=["messaging__button", "button", "button--primary"], type="submit" id="send2") Reply