include ../button/button

mixin messaging({ name, photo, btnLocation="messaging", btnText="Reply", btnTag="button" })
  section.messaging.js-messaging
    .messaging__header
      .messaging__head= name
      img.messaging__avatar(src=require(`../components/user-profile/${photo}.jpg`), alt=name)

    .messaging__main
      button.messaging__chat
      button.messaging__camera
      .messaging__intro
        p.messaging__text Hey! So are we cool to meet at the art gallery? Say 8pm
      form.messaging__form(action="./handler.php")
        div.messaging__block
          textarea.messaging__textarea(rows="2") Yeah that sounds great. See you then
          .messaging__button-wrapper
            +button({
              location: btnLocation,
              text: btnText,
              tag: btnTag
            })