include ../../components/subtitle/_subtitle
include ../../components/button/_button
include ../../components/form/_form
include ../../components/search/_search
include ../../components/user-profile/_user-profile
include ../../components/location/_location
include ../../components/messaging/_messaging

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Контакты
    script(src="https://api-maps.yandex.ru/2.1/?apikey=aba3cd86-c704-4688-a291-3ec61529513e&lang=en_US", type="text/javascript")
  body.page.page-hotel
    include ../components/header/header

    .center-layer
      .section-wrapper.section-wrapper--contact-us
        section
          +subtitle("Связаться с нами")
          +form({
            id: 2,
            inputs: [
              {
                name: "name",
                placeholder: "Ваше имя"
              },
              {
                name: "email",
                placeholder: "Ваш email"
              }
            ],
            textarea: {
              name: "message",
              placeholder: "Введите текст сообщения"
            },
            btnText: "Отправить"
          })
        section
          +subtitle("Наши специалисты")
          +userProfile({
            name: "Петров Петр",
            photo: "John Smith",
            profession: "менеджер по бронированию",
            modifier: "primary"
          })
          +userProfile({
            name: "Иванова Наталья",
            photo: "Sarah Brown",
            profession: "менеджер по туризму",
            modifier: "additional"
          })

      section.page__item--hotel
        +subtitle("Как нас найти")
        +location

    include ../components/footer/footer

    include ../components/callback/callback

    script(src="./app.js")