include ../../components/subtitle/_subtitle
include ../../components/button/_button
include ../../components/form/_form
include ../../components/search/_search
include ../../components/user-profile/_user-profile
include ../../components/location/_location
include ../../components/messaging/_messaging

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Контакты
    link(rel="apple-touch-icon", sizes="180x180", href="./assets/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="./assets/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="./assets/favicons/favicon-16x16.png")
    link(rel="manifest", href="./assets/favicons/site.webmanifest")
    link(rel="mask-icon", href="./assets/favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=aba3cd86-c704-4688-a291-3ec61529513e&lang=en_US", type="text/javascript")
  body.page.page-hotel
    include ../components/header/header

    .center-layer
      .section-wrapper.section-wrapper--contact-us
        section
          +subtitle("Связаться с нами")
          +form({
            id: 2,
            inputs: [
              {
                name: "name",
                placeholder: "Ваше имя"
              },
              {
                name: "email",
                placeholder: "Ваш email"
              }
            ],
            textarea: {
              name: "message",
              placeholder: "Введите текст сообщения"
            },
            btnText: "Отправить"
          })
        section
          +subtitle("Наши специалисты")
          +userProfile({
            name: "Петров Петр",
            photo: "John Smith",
            profession: "менеджер по бронированию",
            modifier: "primary"
          })
          +userProfile({
            name: "Иванова Наталья",
            photo: "Sarah Brown",
            profession: "менеджер по туризму",
            modifier: "additional"
          })

      section.page__item--hotel
        +subtitle("Как нас найти")
        +location

    include ../components/footer/footer

    include ../components/callback/callback

    script(src="./app.js")
    script ymaps.ready(init);