include ../../components/subtitle/_subtitle
include ../../components/button/_button
include ../../components/arrow/_arrow
include ../../components/percentage/_percentage
include ../../components/pie-chart/_pie-chart
include ../../components/search/_search
include ../../components/messaging/_messaging

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Главная
  body.page.page-hotel
    include ../components/header/header

    include ../components/promo/promo

    .center-layer
      include ../components/about/about

      include ../components/rooms/rooms

    include ../components/footer/footer

    include ../components/callback/callback

    script(src="./app.js")