include ../../components/subtitle/_subtitle
include ../../components/button/_button
include ../../components/arrow/_arrow
include ../../components/percentage/_percentage
include ../../components/search/_search
include ../../components/messaging/_messaging

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Hotel
    script(src="https://api-maps.yandex.ru/2.1/?apikey=aba3cd86-c704-4688-a291-3ec61529513e&lang=en_US", type="text/javascript")
  body.page.page--hotel
    include ../components/page-index/page-index
    script(src="./app.js")