include ../../components/subtitle/_subtitle
include ../../components/button/_button
include ../../components/arrow/_arrow
include ../../components/percentage/_percentage
include ../../components/pie-chart/_pie-chart
include ../../components/slider/_slider
include ../../components/stages/_stages
include ../../components/form/_form
include ../../components/toggle/_toggle
include ../../components/tick-box/_tick-box
include ../../components/search/_search
include ../../components/notfound-btn/_notfound-btn
include ../../components/drop-down/_drop-down
include ../../components/user-profile/_user-profile
include ../../components/news/_news
include ../../components/location/_location
include ../../components/calendar/_calendar
include ../../components/messaging/_messaging
include ../../components/video/_video

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title UI-Kit
    link(rel="apple-touch-icon", sizes="180x180", href="./assets/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="./assets/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="./assets/favicons/favicon-16x16.png")
    link(rel="manifest", href="./assets/favicons/site.webmanifest")
    link(rel="mask-icon", href="./assets/favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=aba3cd86-c704-4688-a291-3ec61529513e&lang=en_US", type="text/javascript")
  body.page
    include ../../components/page/page

    script(src="./app.js")
    script ymaps.ready(init);