include ../../components/subtitle/_subtitle
include ../../components/button/_button
include ../../components/search/_search
include ../../components/news/_news
include ../../components/messaging/_messaging
include ../../components/video/_video

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Новости
  body.page.page-hotel
    include ../components/header/header

    .center-layer
      section.page__item--hotel
        +subtitle("Новости отеля")
        .section-wrapper.section-wrapper--news-list
          +news({
            id: 1,
            title: "It's all going downhill",
            date: "24 august 2013",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.",
            image: "news1"
          })
          +news({
            id: 2,
            title: "This is the title",
            date: [24, "Aug"],
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
            image: "news2",
            modifier: "primary",
            isCalendar: true
          })
          +news({
            id: 3,
            title: "News number 3",
            date: "11 march 2014",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.",
            image: "news2",
            modifier: "primary"
          })
          +news({
            id: 2,
            title: "It's all going downhill",
            date: "24 march 2014",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.",
            image: "news1"
          })
          .video-wrapper
            +videoFrame("rPmGtZAUxNs")

    include ../components/footer/footer

    include ../components/callback/callback

    script(src="./app.js")