include ../../components/subtitle/_subtitle
include ../../components/button/_button
include ../../components/search/_search
include ../../components/news/_news
include ../../components/messaging/_messaging
include ../../components/video/_video

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Новости
    link(rel="apple-touch-icon", sizes="180x180", href="./assets/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="./assets/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="./assets/favicons/favicon-16x16.png")
    link(rel="manifest", href="./assets/favicons/site.webmanifest")
    link(rel="mask-icon", href="./assets/favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
  body.page.page-hotel
    include ../components/header/header

    .center-layer
      section.page__item--hotel
        +subtitle("Новости отеля")
        .section-wrapper.section-wrapper--news-list
          +news({
            id: 1,
            title: "It's all going downhill",
            date: "24 august 2013",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.",
            image: "news-1"
          })
          +news({
            id: 2,
            title: "This is the title",
            date: [24, "Aug"],
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
            image: "news-2",
            modifier: "primary",
            isCalendar: true
          })
          +news({
            id: 3,
            title: "News number 3",
            date: "11 march 2014",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.",
            image: "news-2",
            modifier: "primary"
          })
          +news({
            id: 2,
            title: "It's all going downhill",
            date: "24 march 2014",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.",
            image: "news-1"
          })
        .section-wrapper.section-wrapper--news-list
          +video("rPmGtZAUxNs")
          +video("rPmGtZAUxNs")

    include ../components/footer/footer

    include ../components/callback/callback

    script(src="./app.js")