include ../../components/subtitle/_subtitle
include ../../components/button/_button
include ../../components/arrow/_arrow
include ../../components/slider/_slider
include ../../components/stages/_stages
include ../../components/form/_form
include ../../components/toggle/_toggle
include ../../components/tick-box/_tick-box
include ../../components/search/_search
include ../../components/drop-down/_drop-down
include ../../components/messaging/_messaging

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Подбор апартаментов
  body.page.page-hotel
    include ../components/header/header

    include ../components/reservation/reservation

    include ../components/footer/footer

    include ../components/callback/callback

    script(src="./app.js")