mixin arrow(orientation, disabled=false)
  - orientation = "arrow--" + orientation

  if disabled == "disabled"
    button(class=["arrow", orientation], type="button", disabled)
  else
    button(class=["arrow", orientation], type="button")