@mixin arrow-state($state) {
  $color: "";
  @if $state == disabled {
    $color: $color-disabled;
  }
  @else if $state == hover {
    $color: $color-primary;
  }

  .arrow {
    &__circle {
      stroke: $color;
      fill: $color;
    }

    &__polyline {
      stroke: #fff;
    }
  }
}