@mixin arrow-state($state) {
  $color: "";
  @if $state == disabled {
    $color: $color-disabled;
  }
  @else if $state == hover {
    $color: $color-primary;
  }

  border-color: transparent;
  background-color: $color;

  &:before {
    background: url(./components/_icons/arrow-next-white-icon.svg);
  }
}