@import "./components/arrow/_arrow-state.scss";

.arrow {
  @include size(3.2rem);
  margin: .6rem .72rem;
  border: .2rem solid $color-primary;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;

  &:hover {
    @include arrow-state(hover);
  }

  &:disabled {
    @include arrow-state(disabled);
    cursor: default;
  }

  &:before {
    content: "";
    display: block;
    width: .9rem;
    height: 1.6rem;
    margin: 0 auto;
    background: url(./components/_icons/arrow-next-icon.svg);
  }

  &--prev {
    &:before {
      transform: rotate(180deg);
    }
  }
}