@import '../../styles/variables/colors';
@import '../../styles/mixins/size';

.arrow {
  @include size(3.2rem);
  border: .2rem solid $color-primary;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    border-color: transparent;
    background-color: $color-primary;

    &:before {
      background: url(../../assets/icons/arrow-next-white-icon.svg);
    }
  }

  &:disabled,
  &.disabled {
    border-color: transparent;
    background-color: $color-disabled;
    cursor: default;

    &:before {
      background: url(../../assets/icons/arrow-next-white-icon.svg);
    }
  }

  &:before {
    @include size(.9rem, 1.6rem);
    content: '';
    display: block;
    margin: 0 auto;
    background: url(../../assets/icons/arrow-next-icon.svg);
  }

  &_orientation_left {
    &:before {
      transform: rotate(180deg);
    }
  }

  &_color_warning {
    border-color: $color-warning;

    &:hover {
      border-color: transparent;
      background-color: $color-warning;
    
      &:before {
        background: url(../../assets/icons/arrow-next-white-icon.svg);
      }
    }
  }

  &_size_small {
    @include size(auto);
  }
}
