@import "../vendor/Material-Design-Style-Ripple-Effect-On-Click-Touch-Ripple-js/ripple.css";

.button {
  @include size(11.3rem, 3.15rem);
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-bottom: 2rem;
  cursor: pointer;
  text-transform: uppercase;
  border: .08rem solid;
  border-bottom: .5rem solid;
  border-radius: .3rem;
  outline: none;
  background-color: #fff;

  &--primary {
    @include btn-theme(primary, #28a290);
  }

  &--warning {
    @include btn-theme(warning, #bf3e1f);
  }

  &--small {
    @include size(7.5rem, 2.15rem);
    font-size: .937rem;
    line-height: 1.8rem;
    border-bottom: .3rem solid;

    &:hover,
    &.button--pressed {
      line-height: 1.8rem;
    }
  }
}