.page-hotel {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0 0;

  &__subtitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
  }
}

.page__item--hotel {
  margin-bottom: 4rem;
}

.section-wrapper {
  &--news-list {
    $flex-map: (justify: space-evenly);
    @include flex($flex-map...);

    >.news,
    >.video-wrapper {
      margin: 1rem;
      flex-grow: 1;
    }
  }

  &--contact-us {
    $flex-map: (justify: space-evenly);
    @include flex($flex-map...);

    >section {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.center-layer {
  margin-left: 6rem;
  margin-right: 6rem;

  @media screen and (max-width: 580px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  @media screen and (max-width: 390px) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}