.center-layer {
  margin-left: 6rem;
  margin-right: 6rem;
}

.page--hotel {
  max-width: 100%;
  margin: 0;
  padding: 6rem 0 0;

  &__item {
    margin-bottom: 4rem;
  }

  &__subtitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
  }
}

.section-wrapper {
  &--news-list {
    $flex-map: (justify: space-evenly);
    @include flex($flex-map...);

    >.news {
      flex-grow: 1;
    }

    >.news,
    >.video {
      margin: 1rem 2rem;
    }
  }
}