mixin promoContent({ header, text, btnColor, btnText="Подробнее", btnlink="./handler.php" } = {})
  - header = header || "Добро пожаловать в наш отель!";
  - text = text || "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.";

  .promo__content
    h3.promo__header= header
    p.promo__text= text
    +button({
      text: btnText,
      link: btnlink,
      color: btnColor || undefined
    })