mixin promoContent(options={})
  - options.header = options.header || "Добро пожаловать в наш отель!"
  - options.text = options.text || "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus."
  - options.btnColor = options.btnColor || "primary"
  - options.btnText = options.btnText || "Подробнее"
  - options.btnlink = options.btnlink || "./handler.php"

  .promo__content
    h3.promo__header= options.header
    p.promo__text= options.text
    +button({
      modifiers: options.btnColor,
      text: options.btnText,
      link: options.btnlink
    })