.promo {
  position: relative;

  &__content {
    @include block-content(3rem);
  }

  &__img {
    height: 30rem;
  }
}

.owl-carousel {
  z-index: 0;
}

.owl-stage-outer {
  margin: 0 8px;
}

.arrow--carousel {
  position: absolute;
  top: 50%;

  &.arrow--prev {
    left: 1%;
  }

  &.arrow--next {
    right: 1%;
  }

  &.disabled {
    @include arrow-state(disabled);
    cursor: default;
  }
}