@import '../../styles/mixins/promo-block';

.promo {
  position: relative;

  &__carousel {
    z-index: 0;

    > .owl-stage-outer {
      margin: 0 8px;
    }
  }

  &__content {
    @include promo-block(3rem);
  }

  &__button {
    margin: .6rem;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    margin: .6rem;
    width: 2rem;

    &_orientation_left {
      left: 1%;
    }

    &_orientation_right {
      right: 1%;
    }
  }
}
