section.page__item.sliders
  h2.subtitle Sliders
  .page__wrapper-sliders
    #slider1.slider
      #handle1.ui-slider-handle.slider__handle.slider__handle--with-pointer
        .slider__pointer
    #slider2.slider.slider--with-scale
      #handle2.ui-slider-handle.slider__handle
      ul.slider__scale