.notfound-btn {
  @include inputs;
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1.2rem;
  text-align: left;
  color: #fff;
  background-color: $color-warning;

  &:after {
    @include fieldset-icon("_icons/search-icon.svg", $color-warning);
    line-height: 1.75rem;
    content: "";
    text-align: center;
  }
}