include ../subtitle/subtitle
include ../about-img/about-img
include ../about-rating/about-rating
include ../pie-chart/pie-chart

mixin about({ imgItems, ratingItems, pieChartOptions, subtitle="Об отеле" })
  section.about
    .page__subtitle
      +subtitle(subtitle)
    .about__description
      p.about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.
      .about__images
        +about-img(imgItems)
    h3.about__subtitle Отель в цифрах
    .about__rating-list
      +about-rating(ratingItems)
      .about-rating
        .about-rating__pie-chart
          +pie-chart(pieChartOptions)
