include ../subtitle/subtitle
include ../about-image/about-image
include ../about-rating/about-rating
include ../pie-chart/pie-chart

mixin about({ imageItems, ratingItems, pieChartOptions, description, subtitle="Об отеле" })
  - description = description || "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.";

  section.about
    .about__subtitle
      +subtitle(subtitle)
    .about__description
      p.about__text= description
      .about__images
        +about-image(imageItems)
    h3.about__subheading Отель в цифрах
    .about__rating-list
      +about-rating(ratingItems)
      .about-rating
        .about-rating__pie-chart
          +pie-chart(pieChartOptions)
