include ../messaging/messaging

mixin callback({ messagingOptions })
  .callback
    .callback__button.js-callback__button
    .callback__messaging.js-callback__messaging
      +messaging(messagingOptions)
    .callback__overlay.js-callback__overlay
