mixin calendar({ modifier } = {})
  - modifier = modifier ? `calendar--${modifier}` : false;

  div(class=["calendar", "js-calendar", modifier], id="calendar")
    .calendar__day.js-calendar__day
    .calendar__datepicker.js-calendar__datepicker