mixin calendar(options={})
  - options.modifier = options.modifier ? "calendar--" + options.modifier : false

  div(class=["calendar", options.modifier])
    .calendar__day
    .calendar__datepicker#datepicker