mixin calendar(options={})
  - options.modifier = options.modifier ? "calendar--" + options.modifier : false;

  div(class=["calendar", "js-calendar", options.modifier], id="calendar")
    .calendar__day.js-calendar__day
    .calendar__datepicker.js-calendar__datepicker