@import '../../styles/variables/colors';
@import '../../styles/mixins/input';

.calendar {
  width: 17.5rem;

  @media screen and (max-width: 615px) {
    width: 100%;
  }

  &__day {
    padding: .8rem 0 .5rem;
    box-sizing: border-box;
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
    background-color: $color-warning;
    color: #fff;
    border-radius: .3rem .3rem 0 0;
  }

  &__input {
    @include input;
    margin: .5rem .5rem 2rem;
    flex-grow: 1;
  }

  &__label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__datepicker {
    .ui-datepicker {
      button.ui-datepicker-current {
        width: 100%;
        margin: 0;
        padding: .7rem 1.3rem;
        font-size: .8rem;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        line-height: 2.2;
        letter-spacing: .08rem;
        border: none;
        border-radius: 0 0 .3rem .3rem;
        color: #868686;
      }
    }
  }
}

.ui-datepicker {
  width: auto;
  min-width: 15rem;
  padding: 0;
  color: #868686;
  font-size: 1.25rem;
  text-align: center;
  color: #fff;

  &-inline {
    min-width: auto;
  }

  .ui-datepicker {
    &-header {
      padding: 0;
      background-color: #d54c2c;
    }

    &-title {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.8;
    }

    &-year {
      display: none;
    }

    &-prev,
    &-next {
      width: 1rem;
      min-height: 1rem;
      background: url(../../assets/icons/arrow-down-icon.svg) center no-repeat;
      cursor: pointer;
    }

    &-prev {
      float: left;
      left: .9rem;
      transform: rotate(90deg);

      &:hover {
        background-color: transparent;
      }
    }

    &-next {
      float: right;
      right: 1rem;
      transform: rotate(270deg);

      &:hover {
        background-color: transparent;
      }
    }

    &-calendar {
      height: 14.1rem;
      margin: 0;
      border-collapse: collapse;
      background-color: #f2f2f2;

      > thead {
        font-size: .56rem;
        font-weight: 900;
        background-color: $color-warning;
      }

      > tbody {
        font-family: 'Source Sans Pro', 'Arial', sans-serif;
      }
    }

    &-buttonpane {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  th {
    padding: .5rem 0;
  }

  td {
    border: .06rem solid #fff;

    @media screen and (max-width: 320px) {
      padding: .4rem 0;
    }
  }

  td.past {
    color: #bbb;
  }

  td a,
  td span {
    display: inline-block;
    width: 100%;
    padding: 0;
    font-size: 1.25rem;
    text-align: center;
  }

  td a {
    text-decoration: none;
    color: #868686;
  }

  td span {
    color: #fff;
  }

  td:hover {
    background-color: $color-warning;

    > a {
      color: #fff;
    }
  }

  .ui-state-disabled {
    display: table-cell;
  }

  .ui-datepicker-today {
    background-color: #f2f2f2;

    > a {
      color: $color-warning;
    }
  }
}