mixin calendar({ withScoreboard, inputName, inputLabel } = {})
  div(class=["calendar", "js-calendar"])
    if withScoreboard
      .calendar__day.js-calendar__day
      .calendar__datepicker.js-calendar__datepicker
      button.calendar__today today

    if inputName
      label.calendar__label(for=inputName)= inputLabel
        input.calendar__input(type="text", name=inputName)
