mixin calendar({ withRange, captions=["Дата заезда", "Дата выезда"] } = {})
  - var modifier = withRange ? "calendar_with-range js-calendar_with-range" : false;

  div(class=["calendar", "js-calendar", modifier])
    if !withRange
      .calendar__day.js-calendar__day
      .calendar__datepicker.js-calendar__datepicker
      button.calendar__today.js-calendar__today today
    else
      label.calendar__caption(for="from")= captions[0]
        input.calendar__datepicker.js-calendar__datepicker(name="from", type="text")
      label.calendar__caption(for="to")= captions[1]
        input.calendar__datepicker.js-calendar__datepicker(name="to", type="text")
