mixin buttons(classes)
  button(class=["btn", "btn--primary", "btn--small", classes]) Button
  button(class=["btn", "btn--primary", classes]) Button
  button(class=["btn", "btn--warning", classes]) Button
  button(class=["btn", "btn--warning", "btn--small", classes]) Button