.about-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__percentage {
    margin: .5rem;
  }

  > .percentage {
    flex-shrink: 0;
  }

  &__pie-chart {
    display: flex;
    margin: .5rem;
  }

  &__level {
    margin-left: 1rem;
  }
}
