include ../percentage/percentage

mixin about-rating(items)
  each item in items
    - var { percent, text } = item;
    .about-rating
      .about-rating__percentage
        +percentage({ percent })
      p.about-rating__level= text
