@import '../../styles/variables/colors';
@import '../../styles/mixins/arrow-state';

.reservation {
  &__stages {
    width: 60%;
    margin: auto;
  }

  &__slide {
    width: 60%;
    margin: auto;

    @media screen and (max-width: 580px) {
      width: 80%;
    }

    &_type_additional {
      display: flex;
      flex-direction: column;
      width: 40%;

      .tick-box__label {
        flex-grow: 1;
      }

      > .button {
        margin-top: 2rem;
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__header {
    text-align: center;
  }

  &__item {
    display: flex;

    &_type_checkin {
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    .reservation__text,
    .toggle__label {
      width: 50%;
    }

    .ui-selectmenu-button {
      margin-bottom: .5rem;
    }

    .toggle {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 1rem;

      &__button {
        margin-left: 0;
      }
    }

    > .slider {
      width: 50%;
    }

    > .tick-box__label {
      display: flex;
      align-items: center;
    }
  }
  
  &__text {
    @media screen and (max-width: 490px) {
      margin-right: 1rem;
    }
  }

  &__button-wrapper {
    margin: .6rem;
    text-align: center;
  }
}

.owl-prev.disabled,
.owl-next.disabled {
  outline: none;
}

.owl-prev.disabled,
.owl-next.disabled {
  & > .arrow {
    @include arrow-state(disabled);
    cursor: default;
  }
}