@import '../../styles/variables/colors';
@import '../../styles/mixins/arrow-state';

.reservation {
  &__wrapper {
    margin-left: -6rem;
    margin-right: -6rem;
  }

  &__stages {
    width: 60%;
    margin: auto;
  }

  &__slide {
    width: 60%;
    margin: auto;

    @media screen and (max-width: 580px) {
      width: 80%;
    }

    &_type_additional {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }

  &__header {
    text-align: center;
  }

  &__item {
    display: flex;

    @media screen and (max-width: 490px) {
      flex-wrap: wrap;
    }

    &_type_dropdown {
      margin-bottom: 0.5rem;
    }
  }

  &__label {
    width: 50%;
    margin-right: 1rem;

    @media screen and (max-width: 490px) {
      width: 100%;
    }
  }

  &__slider {
    width: 50%;
    margin: 1.8rem 0;

    @media screen and (max-width: 490px) {
      width: 100%;
    }
  }

  &__toggle {
    width: 100%;
    margin-top: 1rem;


    .toggle__label {
      width: 50%;
    }

    .toggle__button {
      margin-left: -.4rem;
    }
  }

  &__button {
    margin: .6rem;
    text-align: center;
  }
}
