extends ../templates/template

block include
  include ../components/contacts/contacts

block title
  title Контакты

block content
  +contacts

block scripts
  script(src="https://api-maps.yandex.ru/2.1/?apikey=aba3cd86-c704-4688-a291-3ec61529513e&lang=en_US", type="text/javascript")
  script ymaps.ready(window.initMap);
