extends ../templates/template

block include
  include ../components/promo/promo
  include ../components/about/about
  include ../components/rooms/rooms

block page-content
  .page__item
    +promo()

  .center-layer
    .page__item
      +about
    .page__item
      +rooms