extends ../templates/template

block include
  include ../components/subtitle/_subtitle
  include ../components/arrow/_arrow
  include ../components/percentage/_percentage
  include ../components/pie-chart/_pie-chart

block page-content
  .page__item
    include ../components/promo/promo

  .center-layer
    .page__item
      include ../components/about/about
    .page__item
      include ../components/rooms/rooms