extends ../templates/template

block include
  include ../components/promo/promo
  include ../components/about/about
  include ../components/rooms/rooms

block page-content
  .page__item
    +promo({
      imgItems: ["promo-1", "promo-2", "promo-3"]
    })

  .center-layer
    .page__item
      +about({
        imgItems: ["about-1", "about-2", "about-3"],
        ratingItems: [
          {
            percent: 80,
            text: "Оценка качества услуг постояльцами"
          },
          {
            percent: 75,
            text: "Порекомендуют наш отель своим друзьям"
          },
          {
            percent: 57,
            text: "Планируют вернуться сюда в будущем"
          }
        ],
        pieChartOptions: {
          items: [
            {
              percent: 35,
              fill: "#747474",
              name: "Мужчины"
            },
            {
              percent: 45,
              fill: "#e75735",
              name: "Женщины"
            },
            {
              percent: 20,
              fill: "#4eb7a8",
              name: "Дети"
            }
          ],
          withLegend: true
        }
      })
    .page__item
      +rooms({
        roomsOptions: {
          buttonOptions: {
            buttonColor: "warning"
          },
          items: [
            {
              img: "rooms-1",
              price: "150",
              header: "Номер Делюкс"
            },
            {
              img: "rooms-2",
              price: "150",
              header: "2-местный Люкс"
            },
            {
              img: "rooms-3",
              price: "100",
              header: "1-местный номер"
            }
          ]
        }
      })
