extends ../templates/template

block include
  include ../components/page/page

block description
  meta(name="description", content="UI-Kit for Web")
  meta(name="keywords", content="ui-kit")

block title
  title UI-Kit

block body
  body.page
    +page

    script(src="./app.js")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=aba3cd86-c704-4688-a291-3ec61529513e&lang=en_US", type="text/javascript")
    script ymaps.ready(window.initMap);