extends ../templates/template

block include
  include ../components/subtitle/_subtitle
  include ../components/arrow/_arrow
  include ../components/percentage/_percentage
  include ../components/pie-chart/_pie-chart
  include ../components/slider/_slider
  include ../components/stages/_stages
  include ../components/form/_form
  include ../components/toggle/_toggle
  include ../components/tick-box/_tick-box
  include ../components/notfound-btn/_notfound-btn
  include ../components/drop-down/_drop-down
  include ../components/user-profile/_user-profile
  include ../components/news/_news
  include ../components/location/_location
  include ../components/calendar/_calendar
  include ../components/video/_video

block description
  meta(name="description", content="UI-Kit for Web")
  meta(name="keywords", content="ui-kit")

block title
  title UI-Kit

block body
  body.page
    include ../components/page/page

    script(src="./app.js")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=aba3cd86-c704-4688-a291-3ec61529513e&lang=en_US", type="text/javascript")
    script ymaps.ready(init);