extends ../templates/template

block include
  include ../components/subtitle/_subtitle
  include ../components/arrow/_arrow
  include ../components/slider/_slider
  include ../components/stages/_stages
  include ../components/form/_form
  include ../components/toggle/_toggle
  include ../components/tick-box/_tick-box
  include ../components/drop-down/_drop-down

block title
  title Подбор апартаментов

block page-content
  include ../components/reservation/reservation