.toggle {
  @include size(5.7rem, 2.3rem);
  margin:.3rem 2rem;
  display: inline-block;
  position: relative;
  font-size: 1.1rem;
}

.toggle__checkbox {
  @include pseudo-elem;
  margin: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;

  &:checked {
    ~.toggle__background {
      background-color: $color-primary;
    }

    ~.toggle__round {
      left: auto;
      right: .3rem;

      &:before {
        display: inline-block;
      }

      &:after {
        display: none;
      }
    }
  }
}

.toggle__background {
  @include pseudo-elem;
  background-color: $color-disabled;
  transition: background-color .40s ease-in-out;
  z-index: -1;
  border-radius: 3.2rem;
}

.toggle__round {
  @include size(1.8rem);
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: .3rem;
  top: 50%;
  margin-top: -.9rem;
  transition: all .30s ease-in-out;

  &:before,
  &:after {
    @include pseudo-elem(0);
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
  }

  &:before {
    content: "on";
    display: none;
    right: 4.4rem;
  }

  &:after {
    content: "off";
    left: 2.3rem;
  }
}