@import '../../styles/variables/colors';
@import '../../styles/mixins/tick-box-animate';

.tick-box {
  display: none;

  &:checked + label {
    .tick-box__checkmark {
      background: $color-primary;

      &_color_warning {
        background: $color-warning;
      }
    }
  }

  &:checked + label .tick-box__checkmark {
    background: $color-primary;
  }

  &:checked + label .tick-box__check {
    -webkit-animation: checked 0.5s ease forwards;
    animation: checked 0.5s ease forwards;
    stroke: #fff;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
  }

  &__label {
    display: flex;
    align-items: center;
  }

  &__checkmark {
    width: 24px;
    height: 24px;
    margin: .5rem;
    cursor: pointer;
    border-radius: 50%;
    background: $color-disabled;
  }
}

@-webkit-keyframes checked {
  @include tick-box-animate;
}

@keyframes checked {
  @include tick-box-animate;
}
