.tick-box {
  display: none;

  &__label {
    font-size: 0;
    letter-spacing: 0;
  }

  &__checkmark {
    margin: .5rem;
    cursor: pointer;
    border-radius: 50%;
    background: #e5e5e5;
  }

  &:checked + label .tick-box__checkmark {
    background: #4eb7a8;
  }

  &:checked + label .tick-box__check {
    -webkit-animation: checked 0.5s ease forwards;
    animation: checked 0.5s ease forwards;
    stroke: #fff;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
  }
}

@-webkit-keyframes checked {
  @include tick-box-animate;
}

@keyframes checked {
  @include tick-box-animate;
}