.rooms {
  &__subtitle {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
  }
}
