.rooms {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
  }

  &__item {
    flex-grow: 1;
    position: relative;
    min-height: 30rem;
    margin: 3rem 1rem;
    list-style: none;
    text-align: center;

    @media screen and (max-width: 630px) {
      flex-basis: 100%;
    }
  }

  &__img {
    height: 100%;
    background-size: cover;
  }

  &__content {
    @include promo-block(1rem 1rem .5rem, $color-warning) {
      min-height: 14.7rem;
    }
  }

  &__price {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: .5rem;
    background-color: #181818;
    color: #fff;
    border: .13rem solid $color-warning;
  }
}