@import './_fieldset-icon.scss';
@import '../_input/_input.scss';

@mixin fieldset($input, $btn, $path) {
  position: relative;
  margin-bottom: 1rem;

  &__#{$input} {
    @include input;
    box-sizing: border-box;
    width: 100%;
  }

  &__#{$btn} {
    @include fieldset-icon($path);
    cursor: pointer;

    &_color_warning {
      background-color: $color-warning;
    }
  }
}