@mixin fieldset-icon($path) {
  @include size(2.1rem, 100%);
  min-height: 1.75rem;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 0 .2rem .2rem 0;
  outline: none;
  background: url(./assets/icons/#{$path}) $color-primary center no-repeat;
  background-size: 50%;
}