@import './components/_fieldset/_fieldset-icon.scss';

@mixin fieldset($input, $btn, $path) {
  position: relative;
  margin-bottom: 1rem;

  &__#{$input} {
    @include input;
    box-sizing: border-box;
    width: 100%;
  }
  
  &__#{$btn} {
    @include fieldset-icon($path);
    cursor: pointer;

    &--warning {
      background-color: $color-warning;
    }
  }
}