@mixin fieldset-icon($path, $color: $color-warning) {
  @include size(2rem, 100%);
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  border-radius: 0 .2rem .2rem 0;
  outline: none;
  background: url(./components/#{$path}) $color center no-repeat;
}