@import '../../styles/variables/colors';

.menu-item {
  @media screen and (max-width: 600px) {
    width: 100%;
    text-align: center;
    border-top: .1rem solid rgba(0, 0, 0, .1);
  }

  &__link {
    color: #fff;
    text-decoration: none;

    &:hover,
    &_state_active {
      color: $color-warning;
    }
  }
}

.menu_state_open {
  .menu-item {
    padding: .7rem 0;
  }
}