include ../search/search

mixin footer({ text, searchOptions={ modifier: "wide" } } = {})
  - text = text || "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.";

  footer.footer
    .footer__flex-container
      .footer__description
        img(src=require("../assets/logo/logo.png"), alt="logo")
        p.footer__text= text
      .footer__search
        h3.footer__subtitle Поиск на сайте
        +search(searchOptions)
    p.footer__copyright Copyright &copy; All rights reserved | This template is made with by 
      a.footer__copyright-link(href="https://colorlib.com", target="_blank", rel="noopener noreferrer") Colorlib
