footer.page-footer
  .page-footer__wrapper
    .page-footer__text
      img(src=require("../components/logo/logo.png"), alt="Лого")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.
    .page-footer__search
      h3.page--hotel__subtitle Поиск на сайте
      +search()
  p.page-footer__copyright Copyright &copy; All rights reserved | This template is made with by 
    a(href="https://colorlib.com", target="_blank") Colorlib