.drop-down {
  width: 18.1rem;

  @media screen and (max-width: 580px) {
    width: 100%;
  }

  @include fieldset("select+.ui-selectmenu-button>.ui-selectmenu-text", "select+.ui-selectmenu-button>.ui-selectmenu-icon", "_icons/arrow-down-icon.svg") {
    .drop-down__select+.ui-selectmenu-button {
      @include placeholder;
      box-sizing: border-box;
      width: 100%;
      padding: 0;
      outline: none;
    }
  }
}

.ui-button {
  margin-right: 0;
}

.ui-selectmenu-menu.ui-selectmenu-open {
  @include placeholder;
  padding: .4rem .9rem;
  color: #000;
}

.drop-down__select--primary+.ui-selectmenu-button>.ui-selectmenu-icon {
  background-color: $color-primary;
}