mixin search(options)
  - options.btnColor = options.btnColor ? "search__submit--"+options.btnColor : false
  - options.placeholder = options.placeholder || "Search"

  form.search
    input.search__input(type="text", placeholder=options.placeholder)
    button(class=["search__submit", options.btnColor], type="submit")