mixin search({ modifier, btnColor, placeholder="Search" } = {})
  - modifier = modifier ? `search--${modifier}` : false;
  - btnColor = btnColor ? `search__submit--${btnColor}` : false;

  form(class=["search", modifier], action="./handler.php")
    input.search__input(type="text", placeholder=placeholder)
    button(class=["search__submit", btnColor], type="submit")