mixin search({ modifier, buttonColor, placeholder="Search" } = {})
  - modifier = modifier ? `search_type_${modifier}` : false;
  - buttonColor = buttonColor ? `search__submit_color_${buttonColor}` : false;

  form(class=["search", modifier], action="./handler.php")
    input.search__field(type="search", placeholder=placeholder)
    button(class=["search__submit", buttonColor], type="submit")
