@import '../_fieldset/_fieldset.scss';

.search {
  @include fieldset('input', 'submit', 'search-icon.svg');

  &--notfound {
    > .search__input {
      background-color: $color-warning;
    }

    > .search__input::placeholder {
      color: #fff;
    }
  }

  &--footer {
    width: 100%;
  }
}