@import '../../styles/mixins/fieldset';

.search {
  @include fieldset('&__input', '&__submit', 'search-icon.svg');

  &_type {
    &_notfound {
      > .search__input {
        background-color: $color-warning;

        &::placeholder {
          color: #fff;
        }
      }
    }

    &_footer {
      width: 100%;
    }
  }
}