include ../subtitle/_subtitle
include ../button/_button
include ../arrow/_arrow
include ../percentage/_percentage
include ../pie-chart/_pie-chart
include ../slider/_slider
include ../stages/_stages
include ../form/_form
include ../toggle/_toggle
include ../tick-box/_tick-box
include ../search/_search
include ../search-btn/_search-btn
include ../drop-down/_drop-down
include ../user-profile/_user-profile
include ../news/_news
include ../location/_location

section.page__item
  +subtitle("Standard buttons")
  .section-wrapper.section-wrapper--buttons
    - for (var i = 0; i < 3; i++)
      +button(["primary", "small"])
      +button(["primary"])
      +button(["warning"])
      +button(["warning", "small"])

section.page__item
  +subtitle("Arrow buttons")
  .section-wrapper.section-wrapper--arrows
    +arrow("left")
    +arrow("right")
    +arrow("left", "disabled")
    +arrow("right", "disabled")
    +arrow("left")
    +arrow("right")

section.page__item
  +subtitle("Percentages / Pie chart")
  .section-wrapper
    +percentage()
    +percentage(38, 38)
    +percentage(62, 62)
    +percentage(89, 89)
    +pie-chart([10, 25, 30, 35])

section.page__item.page__item--sliders
  +subtitle("Sliders")
  .section-wrapper.section-wrapper--sliders.two-columns
    +sliderWithPointer(1)
    +sliderWithScale(2)

section.page__item
  +subtitle("Stages")
  .section-wrapper
    +stages(5)

section.page__item
  +subtitle("Form Elements")
  .section-wrapper.section-wrapper--form-elements.two-columns
    .section-wrapper
      +form(1)
    .section-wrapper
      section.page__item.page__item--toggles
        +subtitle("Toggles")
        .section-wrapper
          +toggle()
          +toggle(true)
      section.page__item.page__item--tick-boxes
        +subtitle("Tick Boxes")
        .section-wrapper
          +tickBox(1, 24, true)
          +tickBox(2, 24)

.two-columns
  section.page__item
    +subtitle("Search / Drop Down")
    +search
    +searchBtn
    +dropDown

  section.page__item
    +subtitle("User Profile")
    +userProfile("John Smith", "UX Designer")
    +userProfile("Sarah Brown", "Developer", "primary")

section.page__item.page__item--news
  +subtitle("News & Events")
  .section-wrapper.two-columns
    +news(
      1,
      "It's all going downhill",
      "24 august 2013",
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros."
    )
    +news(
      2,
      "This is the title",
      [24, "Aug"],
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
      "calendar"
    )

section.page__item.page__item--location
  +subtitle("Location")
  +location
