section.standard-buttons
  h2.subtitle Standard buttons
  .standard-buttons__items
    +buttons("btn--pressed")
    +buttons("btn--hovered")
    +buttons("")

section.arrow-buttons
  h2.subtitle Arrow buttons
  .arrow-buttons__items
    +arrow("left")
    +arrow("right")
    +arrow("left", "disabled")
    +arrow("right", "disabled")
    +arrow("left", "hovered")
    +arrow("right", "hovered")