section.page__item.page__item--buttons
  +subtitle("Standard buttons")
  .section-wrapper.section-wrapper--buttons
    - for (var i = 0; i < 3; i++)
      +button({
        modifiers: ["primary", "small"],
        tag: "button"
      })
      +button({
        modifiers: "primary",
        tag: "button"
      })
      +button({
        modifiers: "warning",
        tag: "button"
      })
      +button({
        modifiers: ["warning", "small"],
        tag: "button"
      })

section.page__item.page__item--arrows
  +subtitle("Arrow buttons")
  .section-wrapper.section-wrapper--arrows
    +arrow("prev")
    +arrow("next")
    +arrow("prev", "disabled")
    +arrow("next", "disabled")
    +arrow("prev")
    +arrow("next")

section.page__item.page__item--percentages
  +subtitle("Percentages / Pie chart")
  .section-wrapper.section-wrapper--percentages
    +percentage(0)
    +percentage(38)
    +percentage(62)
    +percentage(89)
    +pie-chart([
      {
        percent: 10,
        fill: "#747474"
      },
      {
        percent: 25,
        fill: "#e75735"
      },
      {
        percent: 30,
        fill: "#4eb7a8"
      },
      {
        percent: 35,
        fill: "#e5e5e5"
      }
    ])

section.page__item.page__item--sliders
  +subtitle("Sliders")
  .section-wrapper.section-wrapper--sliders
    +slider({
        id: 1,
        type: "pointer"
      })
    +slider({
        id: 2,
        type: "scale"
      })

section.page__item.page__item--stages
  +subtitle("Stages")
  .section-wrapper
    +stages({
      id: 1,
      count: 5
    })

section.page__item.page__item--form-elements
  +subtitle("Form Elements")
  .section-wrapper.section-wrapper--form-elements
    +form({
      id: 1
    })
    .section-wrapper
      section.page__item.page__item--toggles
        +subtitle("Toggles")
        .section-wrapper.section-wrapper--toggles
          +toggle()
          +toggle(true)
      section.page__item.page__item--tick-boxes
        +subtitle("Tick Boxes")
        .section-wrapper.section-wrapper--tick-boxes
          +tickBox(1, 24, true)
          +tickBox(2, 24)

.section-wrapper.section-wrapper--two-section
  section.page__item.page__item--search
    +subtitle("Search / Drop Down")
    +search()
    +notfoundBtn
    form.drop-down
      +dropDown("primary")

  section.page__item.page__item--user-profile
    +subtitle("User Profile")
    +userProfile({
      name: "John Smith",
      profession: "UX Designer",
      modifier: "additional"
    })
    +userProfile({
      name: "Sarah Brown",
      profession: "Developer",
      modifier: "primary"
    })

section.page__item.page__item--news
  +subtitle("News & Events")
  .section-wrapper.section-wrapper--news
    +news({
      id: 1,
      title: "It's all going downhill",
      date: "24 august 2013",
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.",
      image: "news1"
    })
    +news({
      id: 2,
      title: "This is the title",
      date: [24, "Aug"],
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
      image: "news2",
      modifier: "primary",
      isCalendar: true
    })

section.page__item.page__item--location
  +subtitle("Location")
  +location

.section-wrapper.section-wrapper--two-section
  section.page__item.page__item--calendar
    +subtitle("Calendar")
    +calendar

  section.page__item.page__item--messaging
    +subtitle("Messaging")
    +messaging({
      name: "Sarah Brown",
      id: 2
    })

section.page__item.page__item--video
  +subtitle("Video")
  +videoFrame("rPmGtZAUxNs")