@each $type in black, light, bold, italic, regular {
  @include font-face(Lato, lato, $type);
}
@each $type in light, bold, italic, regular {
  @include font-face(Source Sans Pro, sourcesanspro, $type);
}

.page {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  max-width: 700px;
  margin: 0;
  padding: 2.3rem 3.4rem 0 3.25rem;

  &__item {
    &--percentages {
      @include subtitle-margins(2.4rem);
    }

    &--sliders {
      @include subtitle-margins(2.1rem, 1.2rem);

      .section-wrapper--two-columns {
        @include two-columns(44%);
      }
    }

    &--form-elements {
      padding-bottom: .6rem;

      .section-wrapper--two-columns {
        @include two-columns(49%, 47%);
      }
    }

    &--toggles {
      @include centered-elem(1.5rem);
    }

    &--tick-boxes {
      @include centered-elem(2rem);
    }

    &--search {
      width: 49%;

      @include subtitle-margins(false, 1.3rem);
    }

    &--user-profile {
      width: 49%;
    }

    &--news {
      @include subtitle-margins(4.7rem, 2.1rem);

      .section-wrapper--two-columns {
        @include two-columns(48.5%);
      }
    }

    &--location {
      @include subtitle-margins(3rem, 2rem);
    }

    &--calendar {
      width: 47.5%;

      @include subtitle-margins(3rem);
    }

    &--messaging {
      width: 48%;

      @include subtitle-margins(3rem);
    }

    &--video {
      @include subtitle-margins(3.2rem);
    }
  }
}

.section-wrapper {
  &--two-columns {
    display: flex;
    justify-content: space-between;
  }

  &--buttons {
    display: flex;
    padding: 2.2rem 3.9rem 0 4.1rem;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  &--arrows {
    display: flex;
    justify-content: center;
  }

  &--percentages {
    display: flex;
    justify-content: space-between;
  }

  &--sliders {
    padding-top: 1.8rem;
    padding-bottom: 1rem;
  }
}