section.standard-buttons
  h2.subtitle Standard buttons
  .standard-buttons__items
    +buttons("btn--pressed")
    +buttons("btn--hovered")
    +buttons("")

section.arrow-buttons
  h2.subtitle Arrow buttons
  .arrow-buttons__items
    +arrow("left")
    +arrow("right")
    +arrow("left", "disabled")
    +arrow("right", "disabled")
    +arrow("left", "hovered")
    +arrow("right", "hovered")

section.percentages
  h2.subtitle Percentages / Pie chart
  .percentages__items
    .percircle(data-percent=0, data-text=0)
    .percircle(data-percent=38, data-text=38)
    .percircle(data-percent=62, data-text=62)
    .percircle(data-percent=89, data-text=89)
    .pie-chart 10, 25, 30, 35