@each $type in black, light, bold, italic, regular {
  @include font-face(Lato, lato, $type);
}
@each $type in light, bold, italic, regular {
  @include font-face(Source Sans Pro, sourcesanspro, $type);
}

.two-columns {
  display: flex;
  justify-content: space-between;

  >* {
    width: 49%;
  }
}

.page {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  max-width: 700px;
  margin: 0;
  padding: 2.3rem 3.5rem 0 3.25rem;

  &__item {
    &--sliders {
      .subtitle {
        margin-top: 2.1rem;
        margin-bottom: 1.1rem;
      }
    }

    &--toggles {
      @include centered-elem(1.4rem);
    }

    &--tick-boxes {
      @include centered-elem(2rem);
    }

    &--news {
      .subtitle {
        margin-top: 4.8rem;
        margin-bottom: 2rem;
      }

      .news {
        width: 48.5%;
      }
    }

    &--location {
      .subtitle {
        margin-top: 3.1rem;
        margin-bottom: 1.9rem;
      }
    }
  }
}

.section-wrapper {
  &--buttons {
    display: flex;
    padding: 2.2rem 3.8rem 0 4.15rem;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  &--arrows {
    text-align: center;
  }

  &--sliders {
    padding-top: 1.8rem;
    padding-bottom: 1rem;

    >.slider {
      width: 44%;
    }
  }

  &--form-elements {
    padding-bottom: .6rem;

    >.section-wrapper:last-child {
      width: 47%;
    }
  }
}