section.page__item.page__item--buttons
  +subtitle("Standard buttons")
  .section-wrapper.section-wrapper--buttons
    - for (var i = 0; i < 3; i++)
      +button({
        modifiers: ["primary", "small"],
        tag: "button"
      })
      +button({
        modifiers: "primary",
        tag: "button"
      })
      +button({
        modifiers: "warning",
        tag: "button"
      })
      +button({
        modifiers: ["warning", "small"],
        tag: "button"
      })

section.page__item.page__item--arrows
  +subtitle("Arrow buttons")
  .section-wrapper.section-wrapper--arrows
    +arrow({
      orientation: "prev"
    })
    +arrow({
      orientation: "next"
    })
    +arrow({
      orientation: "prev",
      disabled: "disabled"
    })
    +arrow({
      orientation: "next",
      disabled: "disabled"
    })
    +arrow({
      orientation: "prev"
    })
    +arrow({
      orientation: "next"
    })

section.page__item.page__item--percentages
  +subtitle("Percentages / Pie chart")
  .section-wrapper.section-wrapper--percentages
    +percentage({
      percent: 0
    })
    +percentage({
      percent: 38
    })
    +percentage({
      percent: 62
    })
    +percentage({
      percent: 89
    })
    +pie-chart({
      items: [
        {
          percent: 10,
          fill: "#747474"
        },
        {
          percent: 25,
          fill: "#e75735"
        },
        {
          percent: 30,
          fill: "#4eb7a8"
        },
        {
          percent: 35,
          fill: "#e5e5e5"
        }
      ]
    })

section.page__item.page__item--sliders
  +subtitle("Sliders")
  .section-wrapper.section-wrapper--sliders
    +slider({
      modifier: "warning",
      type: "pointer"
    })
    +slider({
      type: "scale"
    })

section.page__item.page__item--stages
  +subtitle("Stages")
  .section-wrapper
    +stages({
      count: 5
    })

section.page__item.page__item--form-elements
  +subtitle("Form Elements")
  .section-wrapper.section-wrapper--form-elements
    +form()
    .section-wrapper
      section.page__item.page__item--toggles
        +subtitle("Toggles")
        .section-wrapper.section-wrapper--toggles
          +toggle({
            id: 1
          })
          +toggle({
            id: 2,
            checked: true
          })
      section.page__item.page__item--tick-boxes
        +subtitle("Tick Boxes")
        .section-wrapper.section-wrapper--tick-boxes
          +tickBox({
            id: 1,
            checked: true
          })
          +tickBox({
            id: 2
          })

.section-wrapper.section-wrapper--two-section
  section.page__item.page__item--search
    +subtitle("Search / Drop Down")
    +search({
      btnColor: "warning"
    })
    +notfoundBtn
    form.drop-down
      +dropDown()

  section.page__item.page__item--user-profile
    +subtitle("User Profile")
    +userProfile({
      name: "John Smith",
      profession: "UX Designer",
      modifier: "additional"
    })
    +userProfile({
      name: "Sarah Brown",
      profession: "Developer",
      modifier: "primary"
    })

section.page__item.page__item--news
  +subtitle("News & Events")
  .section-wrapper.section-wrapper--news
    +news({
      title: "It's all going downhill",
      date: "24 august 2013",
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.",
      image: "news-1"
    })
    +news({
      title: "This is the title",
      date: [24, "Aug"],
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
      image: "news-2",
      modifier: "primary",
      isCalendar: true
    })

section.page__item.page__item--location
  +subtitle("Location")
  +location

.section-wrapper.section-wrapper--two-section
  section.page__item.page__item--calendar
    +subtitle("Calendar")
    +calendar()

  section.page__item.page__item--messaging
    +subtitle("Messaging")
    +messaging({
      name: "Sarah Brown"
    })

section.page__item.page__item--video
  +subtitle("Video")
  +video("rPmGtZAUxNs")