include ../subtitle/_subtitle
include ../button/_button
include ../arrow/_arrow
include ../percentage/_percentage
include ../pie-chart/_pie-chart
include ../slider/_slider
include ../stages/_stages
include ../form/_form
include ../toggle/_toggle
include ../tick-box/_tick-box
include ../search/_search
include ../notfound-btn/_notfound-btn
include ../drop-down/_drop-down
include ../user-profile/_user-profile
include ../news/_news
include ../location/_location
include ../calendar/_calendar
include ../messaging/_messaging
include ../video/_video

section.page__item
  +subtitle("Standard buttons")
  .section-wrapper.section-wrapper--buttons
    - for (var i = 0; i < 3; i++)
      +button(["primary", "small"])
      +button(["primary"])
      +button(["warning"])
      +button(["warning", "small"])

section.page__item
  +subtitle("Arrow buttons")
  .section-wrapper.section-wrapper--arrows
    +arrow("prev")
    +arrow("next")
    +arrow("prev", "disabled")
    +arrow("next", "disabled")
    +arrow("prev")
    +arrow("next")

section.page__item.page__item--percentages
  +subtitle("Percentages / Pie chart")
  .section-wrapper.section-wrapper--percentages
    +percentage(0)
    +percentage(38)
    +percentage(62)
    +percentage(89)
    +pie-chart([
      {
        percent: 10,
        fill: "#747474"
      },
      {
        percent: 25,
        fill: "#e75735"
      },
      {
        percent: 30,
        fill: "#4eb7a8"
      },
      {
        percent: 35,
        fill: "#e5e5e5"
      }
    ])

section.page__item.page__item--sliders
  +subtitle("Sliders")
  .section-wrapper.section-wrapper--sliders.section-wrapper--two-columns
    +slider({
        id: 1,
        type: "pointer"
      })
    +slider({
        id: 2,
        type: "scale"
      })

section.page__item
  +subtitle("Stages")
  .section-wrapper
    +stages(5)

section.page__item.page__item--form-elements
  +subtitle("Form Elements")
  .section-wrapper.section-wrapper--two-columns
    .section-wrapper
      +form(1)
    .section-wrapper
      section.page__item.page__item--toggles
        +subtitle("Toggles")
        .section-wrapper.section-wrapper--toggles
          +toggle()
          +toggle(true)
      section.page__item.page__item--tick-boxes
        +subtitle("Tick Boxes")
        .section-wrapper.section-wrapper--tick-boxes
          +tickBox(1, 24, true)
          +tickBox(2, 24)

.section-wrapper.section-wrapper--two-columns
  section.page__item.page__item--search
    +subtitle("Search / Drop Down")
    +search
    +notfoundBtn
    +dropDown

  section.page__item.page__item--user-profile
    +subtitle("User Profile")
    +userProfile("John Smith", "UX Designer")
    +userProfile("Sarah Brown", "Developer", "primary")

section.page__item.page__item--news
  +subtitle("News & Events")
  .section-wrapper.section-wrapper--news.section-wrapper--two-columns
    +news(
      1,
      "It's all going downhill",
      "24 august 2013",
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros."
    )
    +news(
      2,
      "This is the title",
      [24, "Aug"],
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
      "calendar"
    )

section.page__item.page__item--location
  +subtitle("Location")
  +location

.section-wrapper.section-wrapper--two-columns
  section.page__item.page__item--calendar
    +subtitle("Calendar")
    +calendar

  section.page__item.page__item--messaging
    +subtitle("Messaging")
    +messaging("Sarah Brown")

section.page__item.page__item--video
  +subtitle("Video")
  +videoFrame("rPmGtZAUxNs")