@import '../../styles/variables/colors';
@import '../../styles/mixins/promo-block';

.rooms-item {
  position: relative;
  height: 100%;
  list-style: none;
  text-align: center;

  &__img {
    height: 100%;
    background-size: cover;
  }

  &__price {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: .5rem;
    background-color: #181818;
    color: #fff;
    border: .13rem solid $color-warning;
  }

  &__content {
    @include promo-block(1rem 1rem .5rem, $color-warning) {
      min-height: 14.7rem;
    }
  }

  &__button {
    margin: .6rem;
    position: relative;
    bottom: 1.5rem;
  }
}
