mixin toggle(options={})
  - options.modifier = options.modifier ? "toggle__background--" + options.modifier : false;
  - options.width = options.width || "3.7rem";
  - options.height = options.height || "1.5rem";
  - options.checked = options.checked || false;
  - options.text = options.text || "";

  .toggle
    label.toggle__label(for="toggle" + options.id)
      span= options.text
    .toggle__button(width=options.width, height=options.height)
      input.toggle__checkbox(type="checkbox", id="toggle" + options.id, checked=options.checked)
      div(class=["toggle__background", options.modifier])
      span.toggle__round
