.news {
  display: flex;
  font-size: .69rem;

  &__preview {
    @include size(5.94rem, 13.25rem);
    border-radius: .2rem 0 0 .2rem;
  }

  &__description {
    padding: 0 1rem 0 1.4rem;
    border-radius: 0 .2rem .2rem 0;
    background-color: $color-warning;
    color: #fff;

    &--primary {
      text-align: center;
      background-color: $color-primary;
    }
  }

  &__title {
    margin: 1.4rem 0 0;
    line-height: 1;
    font-size: 1.75rem;
    font-weight: 300;
    text-align: left;

    &--small {
      margin: 0 0 .2rem;
      font-size: .8rem;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: .03rem;
    }
  }

  &__date {
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .07rem;
  }

  &__short-date {
    text-align: left;
  }

  &__day {
    display: inline-block;
    margin: .8rem 1.3rem .6rem 0;
    font-size: 4.6rem;
    font-weight: 300;
    letter-spacing: -.5rem;
  }

  &__month {
    font-size: 1.88rem;
    font-weight: 300;
  }

  &__text {
    margin: 0;
    text-align: left;
    line-height: 1.3;
    letter-spacing: .04rem;
  }

  &__button {
    @include size(auto);
    display: inline-block;
    margin-top: 1.1rem;
    padding: 0 .6rem;
    border: none;
    font-family: "Lato", sans-serif;
    font-size: .7rem;
    letter-spacing: .02rem;
    text-decoration: none;
  }
}
