doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title UI-Kit
    script(src="https://api-maps.yandex.ru/2.1/?apikey=aba3cd86-c704-4688-a291-3ec61529513e&lang=en_US", type="text/javascript")
  body.page
    include ./components/page/page
    script(src="./app.js")