mixin promo(options, btnColor)
  section.promo
    .owl-carousel
      each val in options
        .promo__item
          .promo__img(style="background: url("+require("../components/promo/"+val.image+".jpg")+") no-repeat center")
          .promo__content
            h3.promo__header= val.header
            p.promo__text= val.text
            +buttonLink(btnColor, "Подробнее")