.promo {
  @include block-content(3rem);
  position: relative;

  &__img {
    height: 30rem;
  }
}

.carousel__item {
  position: relative;
  width: 80%;
  margin: auto;
}

.owl-carousel {
  z-index: 0;
}

.arrow--carousel {
  position: absolute;
  top: 50%;

  &.arrow--prev {
    left: 1%;
  }

  &.arrow--next {
    right: 1%;
  }

  &.disabled {
    @include arrow-state(disabled);
    cursor: default;
  }
}