.promo {
  position: relative;

  &__item {
    position: relative;
    width: 80%;
    margin: auto;
  }

  &__img {
    height: 30rem;
  }

  @include block-content(3rem);
}

.owl-nav {
  .arrow {
    position: absolute;
    top: 50%;

    &--prev {
      left: 1%;
    }

    &--next {
      right: 1%;
    }
  
    &.disabled {
      @include arrow-state(disabled);
      cursor: default;
    }
  }
}