include ./_promo-list

section.page--hotel__item.promo
  .owl-carousel
    +promoList([
      {
        image: "promo-1",
        header: "Слайд 1",
        text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.",
        link: "#"
      },
      {
        image: "promo-2",
        header: "Слайд 2",
        text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.",
        link: "#"
      },
      {
        image: "promo-3",
        header: "Слайд 3",
        text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.",
        link: "#"
      }
    ], "primary")