section.page__item.percentages
  h2.subtitle Percentages / Pie chart
  .page__wrapper-percentages
    .percentage(data-percent=0, data-text=0)
    .percentage(data-percent=38, data-text=38)
    .percentage(data-percent=62, data-text=62)
    .percentage(data-percent=89, data-text=89)
    .pie-chart 10, 25, 30, 35