@import "~percircle/dist/css/percircle.css";

.percircle {
  font-size: 145px;
  margin: 0 .3em .1em 0;
  background-color: #fff;

  &:after {
    background-color: #fff;
  }

  >span {
    font-size: .4em;
    top: 50%;
  }
}