@mixin arrow-state($state, $bg-color: $color-primary) {
  @if $state == disabled {
    $bg-color: $color-disabled;
  }

  border-color: transparent;
  background-color: $bg-color;

  &:before {
    background: url(../../assets/icons/arrow-next-white-icon.svg);
  }
}