@import './size';
@import './input';

@mixin fieldset($input, $button, $path) {
  position: relative;

  #{$input} {
    @include input;
    box-sizing: border-box;
    width: 100%;
  }

  #{$button} {
    @include size(2.1rem, 100%);
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 0 .2rem .2rem 0;
    background: url(../../assets/icons/#{$path}) $color-primary center no-repeat;
    background-size: 50%;
    cursor: pointer;

    &_color_warning {
      background-color: $color-warning;
    }
  }
}
