@mixin flex($justify: space-between, $is-wrap: true) {
  @if $is-wrap == true {
    $is-wrap: wrap;
  }
  @elseif $is-wrap == false {
    $is-wrap: nowrap;
  }

  display: flex;
  flex-wrap: $is-wrap;
  justify-content: $justify;
  @content;
}
