@import './size';

@mixin social-icons($social...) {
  @each $val in $social {
    .social-icon_name_#{$val} {
      > a {
        @include size(1.6rem, 1.3rem);
        display: block;
        background: url(../../assets/icons/#{$val}-icon.svg) no-repeat center;

        &:hover {
          background: url(../../assets/icons/#{$val}-hover-icon.svg) no-repeat center;
        }
      }

      &.social-icon_type_primary {
        > a {
          background: url(../../assets/icons/#{$val}-white-icon.svg) no-repeat center;

          &:hover {
            background: url(../../assets/icons/#{$val}-hover-icon.svg) no-repeat center;
          }
        }
      }
    }
  }
}