include ../subtitle/subtitle
include ../form/form
include ../user-profile/user-profile
include ../location/location

mixin contacts
  .contacts
    .contacts__item
      .contacts__wrapper
        .contacts__centering
          section.contacts__section
            +subtitle("Связаться с нами")
            .contacts__form
              +form({
                id: 2,
                inputs: [
                  {
                    name: "login",
                    placeholder: "Ваше имя"
                  },
                  {
                    type: "email",
                    name: "email",
                    placeholder: "Ваш email"
                  }
                ],
                textarea: {
                  name: "message",
                  placeholder: "Введите текст сообщения"
                },
                buttonText: "Отправить"
              })
        .contacts__centering
          section.contacts__section
            +subtitle("Наши специалисты")
            .contacts__user-profile
              +user-profile({
                name: "Петров Петр",
                photo: "john-smith",
                profession: "менеджер по бронированию",
                modifier: "primary"
              })
            .contacts__user-profile
              +user-profile({
                name: "Иванова Наталья",
                photo: "sarah-brown",
                profession: "менеджер по туризму",
                modifier: "additional"
              })

    section.contacts__item
      +subtitle("Как нас найти")
      +location
