mixin slider(id, option)
  if option == "pointer"
    - var handle = "slider__handle--with-pointer"
  else if option == "scale"
    - var handle = ""

  div(id="slider"+id, class=["slider", "slider--with-"+option])
    div(class=["ui-slider-handle", "slider__handle", handle])
      if option == "pointer"
        .slider__pointer
      else if option == "scale"
        ul.slider__scale