mixin slider(options)
  if options.type == "pointer"
    - var handle = "slider__handle--with-pointer"
  else if options.type == "scale"
    - var handle = ""
  - options.modifier = options.modifier ? "slider--" + options.modifier : false

  div(class=["slider", "slider--with-" + options.type, options.modifier], id="slider" + options.id)
    div(class=["ui-slider-handle", "slider__handle", handle])
      if options.type == "pointer"
        .slider__pointer
    if options.type == "scale"
      ul.slider__scale