mixin slider(options)
  if options.type == "pointer"
    - var handle = "slider__handle--with-pointer"
  else if options.type == "scale"
    - var handle = ""

  div(id="slider"+options.id, class=["slider", "slider--with-"+options.type])
    div(class=["ui-slider-handle", "slider__handle", handle])
      if options.type == "pointer"
        .slider__pointer
      else if options.type == "scale"
        ul.slider__scale