@import '../../styles/variables/colors';
@import '../../styles/mixins/size';
@import '../../styles/mixins/triangle-tooltip';

.slider {
  height: .3rem;
  border-radius: 5rem;
  background-color: $color-disabled;
  cursor: pointer;

  &__pointer {
    @include size(2.25rem, 1.5rem);
    font-size: .8rem;
    font-weight: 900;
    line-height: 1.9;
    position: absolute;
    top: -1.9rem;
    left: -.5rem;
    content: '';
    text-align: center;
    color: #fff;
    border-radius: .4rem;
    background-color: $color-primary;
    cursor: pointer;

    &:after {
      @include triangle-tooltip($color-primary, .3rem, bottom);
    }
  }

  &__scale {
    margin: 0;
    padding-top: 1rem;
    font-size: .7rem;
  }

  &__step {
    font-weight: 900;
    position: absolute;
    width: 2rem;
    list-style: none;
    color: #d1d1d1;
  }

  & .slider__handle {
    width: 1.2rem;
    height: 1.2rem;
    top: -.4rem;
    border-radius: 50%;
    background-color: $color-primary;
    outline: none;
    cursor: pointer;

    &_with-pointer {
      position: relative;
    }
  }

  &.slider_color_warning {
    .ui-slider-range,
    .slider__handle,
    .slider__pointer {
      background-color: $color-warning;
    }

    .slider__pointer:after {
      @include triangle-tooltip($color-warning, .3rem, bottom);
    }
  }

  .ui-slider-range {
    border-radius: 5rem;
    background-color: $color-primary;
  }
}